body {
    background-color: #162344;
    font-family:"Trebuchet MS";
    text-align: center;
  }
  
  h1
  {
    font-size: 36px;
  }

  h1, h2, h3, h4, h5, p
  {
    color: white;
    margin: 3px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #map
  {
      /* Set rules to fill background */
    min-height: 100%;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

  #guessarea
  {
    width: 80%;
    font-size: 40px;
  }

  #enter
  {
    width: 70%;
    font-size: 24px;
    text-align: center;
    font-family: 'Trebuchet MS';
  }

  #guess
  {
    font-size: 24px;
    color: #162344;
    background-color: white;
    font-family: 'Trebuchet MS';
  }

  #states
  {
    font-size: 24px;
    font-family: 'Trebuchet MS';
  }


  #h
  {
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
    left:0;
    background-color: #16234477;
    padding-bottom: 15px;
  }

  #counter
  {
    z-index: 2;
    height: 30%;
    width: 300px;
    position: fixed; 
    bottom:0%; 
    left: 0%;
    background-color: #ffffff77; 
    border-top: 5px solid black;
    border-right: 5px solid black;
    overflow-y: auto;

  }

  #guesses
  {
    color: black;
    width: 100%;
  }

  #guesses tr td
  {
    text-overflow: ellipsis;
    color: black;
  }

  #tr0
  {
    font-weight: bold;
    font-style:italic;
  }

  #byline
  {
    margin:10px;
    position:fixed;
    top:0%;
    right:0%;
  }

  #byline a
  {
    color: white;
  }