body {
  background-color: #162344;
  font-family:"Trebuchet MS";
  color: white;
}

h1
{
  font-size: 36px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#map
{
  height: 720px;
  width: 480px;
}